body {
  background-color: grey;
}


table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;

  }

 th, td {
  text-align: left;
  }

