<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
 <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>


<body>
<ul>

    <li><a class="active" href="/">Home</a></li>
    <li><a class="nav-link" href="/items">Items</a></li>
    <li><a class="nav-link" href="/add_items">Modify</a></li>
    <li><a href="#contact">Contact us</a></li>

</ul>


<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">


        <main role= "main" class="container">
        <div class="jumbotron">

<table>
  <tr>
      <th>Count</th>
      <th>Equipment type</th>
      <th>Internal Code</th>
      <th>Model</th>
      <th>Manufacturer</th>
      <th>Supplier</th>
      <th>Owner</th>
      <th>Serial Number</th>
      <th>Last Calibration Date</th>
      <th>Duration</th>
      <th>Expiry_Date</th>
      <th>Calibration Status</th>

  </tr>
    {% for instance in queryset %}
  <tr>
      <td>{{forloop.counter}}</td>
      <td>{{instance.Equipment_type}}</td>
      <td>{{instance.Internal_code}}</td>
      <td>{{instance.Model}}</td>
      <td>{{instance.Manufacturer}}</td>
      <td>{{instance.Supplier}}</td>
      <td>{{instance.Owner}}</td>
      <td>{{instance.Serial_number}}</td>
      <td>{{instance.Last_Calibration_Date}}</td>
      <td>{{instance.Duration}}</td>
      <td>{{instance.Expiry_Date}}</td>
       <td>{{instance.Calibration_status}}</td>

  </tr>
    {% endfor %}
     </table>
       </div>
     </main>




</body>
</html>


